

.image{
    animation-name: dropdown;
    animation-duration: 1s;
}

.container{
    animation-name: leftToright;
    animation-duration: 1s;
}

.paragraph{
    animation-name: rightToleft;
    animation-duration: 1s;
}

@keyframes leftToright {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1; 
    }
}

@keyframes rightToleft {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1; 
    }
}

@keyframes dropdown {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1; 
    }
}